
   <%- include('header'); -%>
    <div class="box" id="heading" >
        <h1> <%= listtitle %> </h1>
    </div>

    <div class="box" > 
        
        <%  for(i=0; i<newitems.length; i++ ){ %>
            <div class="item">
               <input type="checkbox">
                <p><%= newitems[i] %></p>
            </div>
             
         <%  } %> 

         
    <form class="item"  action="/" method="post">
        <input type="text" name="add12" placeholder="new item" autocomplete="off"/>
        <button type="submit" name="list" value= <%= listtitle %> >+</button>
    </form>

    </div>
       
<%- include('footer'); -%>